<template>
    <button
        class="btn btn-danger btn-xs"
        @click="deleteResource(item)">
        <i class="fa fa-trash"></i>
    </button>
</template>

<script>
  export default {
    props: ['item'],

    methods: {
      deleteResource(item) {
        let store = this.$store;
        store.dispatch('DELETE_RESOURCE', item).then(() => store.dispatch('REFRESH_LIST', store.state.route));
      }
    }
  }
</script>