<template>
    <button
        @click="downloadResource(item)"
        class="btn btn-info btn-xs">
        <i class="fa fa-cloud-download"></i>
    </button>
</template>

<script>
  export default {
    props: ['item'],

    methods: {
      downloadResource(item) {
        this.$store.dispatch('DOWNLOAD_RESOURCE', item);
      }
    }
  }
</script>