<template>
    <div class="wrapper container-fluid">
        <FilesExplorer></FilesExplorer>
    </div>
</template>

<script>
  import FilesExplorer from '../components/FilesExplorer'

  export default {
    components: {
      FilesExplorer
    },

    created() {
      // Получим токен из хэша урла и сохраним в store
      if (!this.$store.state.oAuth.accessToken) {
        try {
          let tokenFromHash = /access_token=([^&]+)/.exec(document.location.hash)[1];
          this.$store.commit('UPDATE_ACCESS_TOKEN', tokenFromHash);
          let redirect = '/';
          this.$router.push(redirect);
        } catch (e) {
        }
      } else {
        this.$store.dispatch('REFRESH_LIST', this.$store.state.route);
      }
    },

    watch: {
      '$route'(to, from) {
        this.$store.dispatch('REFRESH_LIST', to);
      }
    }

  }
</script>

<style lang="scss">
    .wrapper {
        padding: 50px 0;
        margin: 0 auto;
        max-width: 600px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
