<template>
    <div>
        <nav class="breadcrumb">
            <div v-for="(crumb, index) in $store.state.crumbs">
                <div v-if="index < $store.state.crumbs.length - 1">
                    <router-link :to="{path: crumb.url}" class="breadcrumb-item">{{ crumb.name }}</router-link>
                    <span class="divider">&gt;</span>
                </div>
                <div v-else>
                    <span class="breadcrumb-item active">{{ crumb.name }}</span>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
  export default {
    computed: {
      href() {
        return 'https://oauth.yandex.ru/authorize?response_type=token&client_id=7358eea272734cd0a4a0973ceaff8fa3'
      }
    }
  }
</script>

<style lang="scss">
    .divider {
        display: inline-block;
        padding: 0 10px;
    }
    .breadcrumb:empty {
        display: none;
    }
</style>