<template>
    <div>
        <div v-if="!loggedIn">
            <a :href="href" class="btn yandex-button" v-if="!loggedIn">
                Войти через Яндекс
                <img class="yandex-logo" :src="logoSrc">
            </a>
        </div>

        <div v-else>
            <a @click="$store.commit('RESET_STATE')" class="btn yandex-button" v-if="loggedIn">
                Выйти
                <img class="yandex-logo" :src="logoSrc">
            </a>

            <BreadCrumbs></BreadCrumbs>

            <ul class="files-list">
                <li v-for="item in this.$store.state.items" class="folder-item">
                    <Item :item="item"></Item>
                </li>
            </ul>

            <div class="form-group">
                <input v-model="newFolderName" type="text" class="form-control" placeholder="Введите имя"
                       id="exampleInputEmail1">
                <button
                    class="btn btn-primary new-folder-button"
                    @click="$store.dispatch('ADD_RESOURCE', $store.state.newFolderName)">Создать новую папку
                </button>
            </div>
        </div>

    </div>
</template>

<script>
  import {getParameterByName} from '../inc/functions';
  import Item from '../components/Item';
  import BreadCrumbs from '../components/BreadCrumbs';
  import {mapState} from 'vuex';

  export default {

    components: {
      Item,
      BreadCrumbs
    },

    computed: {
      href() {
        return 'https://oauth.yandex.ru/authorize?response_type=token&client_id=7358eea272734cd0a4a0973ceaff8fa3'
      },
      loggedIn() {
        return this.$store.state.oAuth.accessToken;
      },
      logoSrc() {
        return 'https://yastatic.net/iconostasis/_/wT9gfGZZ80sP0VsoR6dgDyXJf2Y.png';
      },
      newFolderName: {
        get() {
          return this.$store.state.newFolderName;
        },
        set(value) {
          this.$store.commit('SET_NEW_FOLDER_NAME', value);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    .yandex-logo {
        width: 20px;
    }

    .yandex-button {
        background: #ffdb4d;
        color: black;
        cursor: pointer;
        margin: 0 0 20px 0;
        &:hover {
            opacity: 0.8;
        }
    }

    .files-list {
        list-style: none;
    }

    .new-folder-button {
        margin-top: 15px;
    }
</style>