<template>
    <div v-if="item.type === 'dir'">
        <div class="item-row">
            <div class="left">
                <i class="fa fa-folder"></i>
                <router-link
                    :to="{ path: item.name}"
                    class="align-middle"
                    append>
                    {{ item.name }}
                </router-link>
            </div>

            <div class="right">
                <DeleteButton :item="item"></DeleteButton>
                <DownloadButton :item="item"></DownloadButton>
            </div>
        </div>
    </div>

    <div v-else>
        <div class="item-row">
            <div class="left">
                <span>{{ item.name }}</span>
            </div>
            <div class="right">
                <DeleteButton :item="item"></DeleteButton>
                <DownloadButton :item="item"></DownloadButton>
            </div>
        </div>
    </div>
</template>

<script>
  import DownloadButton from '../components/Buttons/DownloadButton';
  import DeleteButton from '../components/Buttons/DeleteButton';

  export default {
    props: ['item'],

    components: {
      DownloadButton,
      DeleteButton
    }
  }
</script>

<style lang="scss" scoped>
    .fa-folder {
        transform: translate3d(0, 2px, 0) scale(1.2);
        padding-right: 5px;
    }

    .item-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        border-bottom: 1px solid #eee;
    }
</style>